<section layout="column"  data-ng-controller="DashboardController">
    <div class="container">
        <div class="header">
            <h3 layout="row" layout-align="start center" layout-padding layout-margin><i
                    class="fa fa-laptop right-padded-5"></i>Dashboard</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home right-padded-5"></i><a href="/#!/">Home</a></li>
                <li><i class="fa fa-laptop right-padded-5 active"></i>Dashboard</li>
            </ol>
        </div>
        <div class="btn-offset">
            <button type="button" btn-layer-morph="" target="#layer-search" ripple=""
                    class="btn btn-info btn-circle btn-lg shadow-z1">
                <em class="fa fa-search"></em>
                <span class="ripple"></span></button>
        </div>
        <div flex layout="row">
            <div class="panel" flex layout-align="start center">
                <div  layout="row">
                    <div layout="row" flex="15" layout-fill>
                        <div  layout-align="space-around center">
                            <div flex="50" layout="row" layout-align="center center" class="dashboard-tile clickable btn-primary"
                                 ng-click="showSummary('stats')">
                                <span class="fa fa-pie-chart fa-2x"></span>

                            </div>
                            <div flex="50" layout="row" layout-align="center center" class="dashboard-tile clickable"
                                 ng-click="showSummary('agents')">
                                <span class="fa fa-suitcase fa-2x"></span>

                            </div>
                        </div>
                        <div >
                            <div flex="50" layout="row" layout-align="center center" class="dashboard-tile clickable"
                                 ng-click="showSummary('clients')">
                                <span class="fa fa-group fa-2x"></span>

                            </div>
                            <div flex="50" layout="row" layout-align="center center" class="dashboard-tile clickable"
                                 ng-click="showSummary('devices')">
                                <span class="fa fa-tasks fa-2x"></span>

                            </div>
                        </div>
                    </div>
                    <div flex="85">
                        <div ng-switch="selectedSummary">


                            <div ng-switch-when="stats">
                                Statistics Summary

                            </div>
                            <div ng-switch-when="agents">
                                Agents Summary

                            </div>
                            <div ng-switch-when="clients">
                                Statistics Summary

                            </div>
                            <div ng-switch-when="devices">
                                Agents Summary

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--
            <div flex="30" layout="column" layout-margin>
                <div flex>
                    <div flex layout-align="space-around center">
                        <div class="panel ">
                            <div class="panel-body">
                                <just-gage id="test1" min=0 max=100 value='myval' title="Test 1"></just-gage>

                            </div>
                            <div class="panel-footer">
                                <small>footer text</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            -->
        </div>
        <div flex  layout="row">
            <div class="panel" flex layout-align="start center">
                <div flex class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Live Data

                        </div>

                    </div>
                    <div flex layout="row" class="panel-body">
                        <div layout="column" flex="20">

                            <div layout="column">

                                <h4>Summary</h4>

                                <div layout="row">
                                    <strong class="right-padded-5">Device Name:</strong>
                                    Online
                                </div>
                                <div layout="row">
                                    <strong class="right-padded-5">Description:</strong>
                                    Online
                                </div>
                                <div layout="row">
                                    <strong class="right-padded-5">Status:</strong>
                                    Online
                                </div>
                                <div layout="row">
                                    <strong class="right-padded-5">Signal Strength:</strong>
                                    Poor
                                </div>
                                <div layout="row">
                                    <strong class="right-padded-5">Battery:</strong>
                                    Ok
                                </div>
                                <div layout="row">
                                    <strong class="right-padded-5">Connected Sensors:</strong>
                                    4
                                </div>
                                <div layout="row">
                                    <strong class="right-padded-5">Last Reading Time:</strong>
                                    Online
                                </div>
                            </div>
                            <h4>Connected Sensors</h4>

                            <div layout="row" flex layout-fill layout-padding layout-margin>
                                <div layout="row" layout-align="space-around center">
                                    <div class="clickable dashboard-sensor-tile right-padded-5" layout="row" layout-align="center center"  ng-click="showSummary('stats')">
                                        <span class="fa fa-tint  "></span></div>
                                    <div class="clickable dashboard-sensor-tile right-padded-5" layout="row" layout-align="center center" ng-click="showSummary('stats')">
                                        <span class="fa fa-tint "></span>
                                    </div>
                                    <div class="clickable dashboard-sensor-tile right-padded-5" layout="row" layout-align="center center" ng-click="showSummary('stats')">
                                        <span class="fa fa-tint " ></span>
                                    </div>
                                    <div class="clickable dashboard-sensor-tile right-padded-5" layout="row" layout-align="center center" ng-click="showSummary('stats')">
                                        <span class="fa fa-tint "></span>
                                    </div>
                                </div>

                            </div>
                            <h4>Current Reading</h4>

                            <div>
                                <just-gage id="test1" min=0 max=100 value='myval' title="Cold Room 1 Temp"></just-gage>
                            </div>
                        </div>

                        <div flex="80"  layout-align="center center">
                            <highchart id="chart1" config="chartConfig"></highchart>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div flex layout="row">
            <openlayers ol-center="center" defaults="defaults" flex>
                <ol-marker lat="-17.829220000000000000" lon="31.053961000000072000"></ol-marker>
            </openlayers>
        </div>
        <div flex layout="row">
            <map center="-25.363882,131.044922" zoom="4">
                <marker position="-25.363882,131.044922" title="Hello World!"></marker>
            </map>

        </div>
    </div>
    <div flex>
        <!--<div just-gage id="test1" min=0 max=100 value=20 title="Test 1"></div>
        <just-gage id="test1" min=0 max=100 value='myval' title="Test 1"></just-gage>-->
    </div>
    </div>
</section>
