<section data-ng-controller="SystemadministrationController">
    <div flex layout="row" layout-align="start center" class="page-header bg-light-gray">
        <div layout-align="start center" class="container">
            <div layout="row">
                <h2 class="margin-right-5">System Administration</h2>
            </div>
        </div>

    </div>
    <div class="container">
        <div layout="row">
            <a href="/#!/sensortypes" class="btn btn-primary"> Manage Sensor Types</a>
        </div>
    </div>
</section>
