<section data-ng-controller="DevicesController as devCtrl" data-ng-init="findOne()">

    <div flex layout="row" layout-align="start center" class="page-header bg-light-gray">
        <div layout-align="start center" class="container">
            <div layout="row">
                <h2 class="margin-right-5">Edit Device</h2>
            </div>
        </div>

    </div>

    <div class="container">
        <uib-tabset >
            <uib-tab heading="Device Details">
                <div class="top-buffer">
                    <form class="form-horizontal" data-ng-submit="update()" novalidate>
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label   col-sm-2" for="name">Device Name</label>

                                <div class="controls  col-sm-4">
                                    <input type="text" data-ng-model="device.name" id="name" class="form-control"
                                           placeholder="Device Name" required>
                                </div>
                                <label class="control-label   col-sm-2" for="version">Device Version</label>

                                <div class="controls  col-sm-3">
                                    <input type="text" data-ng-model="device.version" id="version"
                                           class="form-control" placeholder="Device Version" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label   col-sm-2" for="deviceId">Device Id</label>

                                <div class="controls  col-sm-4">
                                    <input type="text" data-ng-model="device.deviceId" id="deviceId"
                                           class="form-control" placeholder="Device Identification Number"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="description">Description</label>

                                <div class="controls  col-sm-4">
                                    <input type="text" data-ng-model="device.description" id="description"
                                           class="form-control" placeholder="description">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="location.lon">Long</label>

                                <div class="controls  col-sm-4">
                                    <input type="text" data-ng-model="device.location.lon" id="location.lon"
                                           class="form-control" placeholder="description">
                                </div>
                                <label class="control-label col-sm-2" for="location.lat">Lat</label>

                                <div class="controls  col-sm-3">
                                    <input type="text" data-ng-model="device.location.lat" id="location.lat"
                                           class="form-control" placeholder="description">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="simnumber">SIM</label>

                                <div class="controls  col-sm-4">
                                    <input type="text" data-ng-model="device.simnumber" id="simnumber"
                                           class="form-control" placeholder="SIM Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="interval">Upload Interval</label>

                                <div class="controls  col-sm-4">
                                    <input type="text" data-ng-model="device.interval" id="interval"
                                           class="form-control" placeholder="Upload frequency">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </uib-tab>
            <uib-tab heading="Connected Sensors">
                <div layout="column" class="top-buffer" flex>
                    <div layout="column">
                        <div class="container" style="padding-bottom: 10px;">
                            <button type="button" class="btn btn-primary" ng-click="openCreateSensor('lg',device)">Create New Sensor</button>
                        </div>

                        <uib-tabset>
                            <uib-tab data-ng-repeat="sensor in device.sensors" heading="Sensor - {{sensor.name}}">
                                <div>
                                    <form data-ng-submit="updateRecord()" novalidate>

                                        <div layout="column" class="top-buffer">
                                            <div class="form-group">
                                                <label class="control-label   col-md-2"
                                                       for="sensorname_e">Name</label>

                                                <div class="controls  col-sm-3">
                                                    <input type="text"
                                                           data-ng-model="sensor.name"
                                                           id="sensorname_e" class="form-control"
                                                           placeholder="Name" required>
                                                </div>
                                                <label class="control-label   col-sm-2"
                                                       for="sensortype_e">Type</label>

                                                <div class="controls  col-md-3">
                                                    <select class="form-control"
                                                            data-ng-model="sensor.sensortype"
                                                            ng-options="x._id as x.name for x in availableSensortypes"
                                                            id="sensortype_e"></select>

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label   col-sm-2"
                                                       for="channel_e">Channel</label>

                                                <div class="controls  col-md-3 ">
                                                    <input type="text"
                                                           data-ng-model="sensor.channel"
                                                           id="channel_e" class="form-control"
                                                           placeholder="Sensor Type"
                                                           required>
                                                </div>
                                            </div>

                                            <div class="panel" >
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="panel-title">
                                                            Sensor Alerts
                                                        </div>

                                                    </div>
                                                    <div class="panel-body">

                                                        <uib-tabset>
                                                            <uib-tab data-ng-repeat="alert in sensor.sensoralerts" heading="Alert - {{alert.name}}">
                                                                <div>
                                                                    <form class="form-horizontal" data-ng-submit="updateRecord()"
                                                                          novalidate>
                                                                        <fieldset>
                                                                            <div class="form-group top-buffer">
                                                                                <label class="control-label"
                                                                                       for="alertname">Name</label>

                                                                                <div class="controls">
                                                                                    <input type="text"
                                                                                           data-ng-model="alert.name"
                                                                                           id="alertname"
                                                                                           class="form-control"
                                                                                           placeholder="Name"
                                                                                            >
                                                                                </div>
                                                                            </div>

                                                                            <div class="panel" >
                                                                                <div class="panel panel-default">
                                                                                    <div class="panel-heading">
                                                                                        <div class="panel-title">
                                                                                            Alert Actions

                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="panel-body">

                                                                                        <uib-tabset>
                                                                                            <uib-tab data-ng-repeat="alertAction in alert.alertactions" heading="Action - {{alertAction.name}}">
                                                                                                <div class="top-buffer">
                                                                                                    <form class="form-horizontal"
                                                                                                          data-ng-submit="updateRecord()"
                                                                                                          novalidate>

                                                                                                        <fieldset>
                                                                                                            <div class="form-group">
                                                                                                                <label class="control-label   col-sm-2"
                                                                                                                       for="alertaction_name_e">Name</label>

                                                                                                                <div class="controls  col-sm-4">
                                                                                                                    <input type="text"
                                                                                                                           data-ng-model="alertAction.name"
                                                                                                                           id="alertaction_name_e"
                                                                                                                           class="form-control"
                                                                                                                           placeholder="Name">
                                                                                                                </div>

                                                                                                                <label class="control-label   col-sm-2"
                                                                                                                       for="alertaction_actiontype_e">Action
                                                                                                                    Type</label>

                                                                                                                <div class="controls  col-sm-3">
                                                                                                                    <input type="text"
                                                                                                                           data-ng-model="alertAction.actiontype"
                                                                                                                           id="alertaction_actiontype_e"
                                                                                                                           class="form-control"
                                                                                                                           placeholder="Action type">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="form-group">
                                                                                                                <label class="control-label   col-sm-2"
                                                                                                                       for="alertaction_thresholdvaluemin_e">Threshold
                                                                                                                    Min</label>

                                                                                                                <div class="controls  col-sm-4">
                                                                                                                    <input type="text"
                                                                                                                           data-ng-model="currentSelectedSensorAlertAction.thresholdvaluemin"
                                                                                                                           id="alertaction_thresholdvaluemin_e"
                                                                                                                           class="form-control"
                                                                                                                           placeholder="Min">
                                                                                                                </div>

                                                                                                                <label class="control-label   col-sm-2"
                                                                                                                       for="alertaction_thresholdvaluemax_e">Threshold
                                                                                                                    Max</label>

                                                                                                                <div class="controls  col-sm-3">
                                                                                                                    <input type="text"
                                                                                                                           data-ng-model="currentSelectedSensorAlertAction.thresholdvaluemax"
                                                                                                                           id="alertaction_thresholdvaluemax_e"
                                                                                                                           class="form-control"
                                                                                                                           placeholder="Max">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="form-group">
                                                                                                                <label class="control-label   col-sm-2"
                                                                                                                       for="alertaction_sendonclear_e">Send on
                                                                                                                    Clear</label>

                                                                                                                <div class="controls  col-sm-4">
                                                                                                                    <input type="text"
                                                                                                                           data-ng-model="currentSelectedSensorAlertAction.sendonclear"
                                                                                                                           id="alertaction_sendonclear_e"
                                                                                                                           class="form-control"
                                                                                                                           placeholder="SendOnClear">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </fieldset>
                                                                                                    </form>
                                                                                                </div>
                                                                                            </uib-tab>
                                                                                        </uib-tabset>

                                                                                    </div>
                                                                                </div>
                                                                            </div>




                                                                        </fieldset>
                                                                    </form>
                                                                </div>
                                                            </uib-tab>
                                                        </uib-tabset>

                                                    </div>
                                                </div>
                                            </div>



                                            <div class="form-group md-margin">
                                                <input type="submit" value="Update"
                                                       class="btn btn-primary">
                                                <button class="btn btn-danger"
                                                        ng-click="removeSensor(currentSelectedSensor)">
                                                    Delete
                                                </button>


                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </uib-tab>

                        </uib-tabset>



                    </div>

                </div>



            </uib-tab>
            <uib-tab heading="Device Readings">

                <table st-table="devicesReadings" class="table table-striped top-buffer">
                    <thead>
                    <tr>
                        <!--<th>Reading ID</th>-->
                        <!-- <th>Unit Id</th>-->
                        <!--<th>Unit Type</th>-->
                        <th> Time</th>
                        <th>Channels</th>
                        <th>State 1</th>
                        <th>Last Value 1</th>
                        <th>State 2</th>
                        <th>Last Value 2</th>
                        <th>State 3</th>
                        <th>Last Value 3</th>
                        <th>State 4</th>
                        <th>Last Value 4</th>
                        <th> Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="reading in devicesReadings | paginateFrom :(currentPage-1)*pageSize | limitTo:pageSize">
                        <!--<td><a href="/#!/readings/{{reading._id}}"> {{reading._id}}</a></td>-->
                        <!--<td>{{reading.unitId}}</td>-->
                        <!-- <td>{{reading.unittype}}</td>-->
                        <td>{{reading.time}}</td>
                        <td>{{reading.channels}}</td>
                        <td>{{reading.state1}}</td>
                        <td>{{reading.lastValue1}}</td>
                        <td>{{reading.state2}}</td>
                        <td>{{reading.lastValue2}}</td>
                        <td>{{reading.state3}}</td>
                        <td>{{reading.lastValue3}}</td>
                        <td>{{reading.state4}}</td>
                        <td>{{reading.lastValue4}}</td>
                        <td><a class="btn btn-primary" href="/#!/readings/{{reading._id}}">View</a></td>
                    </tr>
                    </tbody>
                </table>
                <uib-pagination total-items="devicesReadings.length" ng-model="currentPage" items-per-page="pageSize" class="pagination-sm" boundary-links="true"></uib-pagination>
            </uib-tab>
        </uib-tabset>


        <div class="container pull-right top-buffer">
            <button class="btn btn-success" ng-click="devCtrl.updateDevice();">Save and Close</button>
            <button class="btn btn-danger" ng-click="cancel()">Close</button>
        </div>
    </div>

    <div data-ng-show="error"
         class="text-danger">
        <strong data-ng-bind="error"></strong>
    </div>

</section>
