<section class="container modal-body" data-ng-controller="ClientsController" data-ng-init="findOne()">
    <div class="page-header">
        <ol class="breadcrumb">
            <li><i class="fa fa-home right-padded-5"></i><a href="/#!/">Home</a></li>
            <li><i class="right-padded-5"></i><a href="/#!/clients">Clients</a></li>
            <li><i class="right-padded-5 active"></i>Edit Client - {{client.name}}</li>
        </ol>
    </div>

    <!--
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>-->

    <!--<button class="btn btn-default" ng-click="open()">Open me!</button>-->

    <md-content>
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="General Details">
                    <div class="col-md-12 top-buffer">
                        <!--<form class="form-horizontal" data-ng-submit="update()" novalidate>-->
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label"> Basic Information</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label  col-sm-2" for="name">Name</label>

                                <div class="controls  col-sm-4">
                                    <input type="text" data-ng-model="client.name" id="name" class="form-control"
                                           placeholder="Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label"> Contact Person</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label  col-sm-2" for="fname">First Name</label>

                                <div class="controls  col-sm-4">
                                    <input type="text" data-ng-model="client.fname" id="fname" class="form-control"
                                           placeholder="First Name">
                                </div>
                                <label class="control-label  col-sm-2" for="fname">Surname</label>

                                <div class="controls  col-sm-4">
                                    <input type="text" data-ng-model="client.sname" id="sname" class="form-control"
                                           placeholder="Surname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label  col-sm-2" for="fname">Contact Number</label>

                                <div class="controls  col-sm-4">
                                    <input type="text" data-ng-model="client.cellnumber" id="cellnumber"
                                           class="form-control"
                                           placeholder="Cell Number">
                                </div>
                                <label class="control-label  col-sm-2" for="email">Email</label>

                                <div class="controls  col-sm-4">
                                    <input type="text" data-ng-model="client.email" id="email" class="form-control"
                                           placeholder="Email Address">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Update" class="btn btn-default">
                            </div>
                            <div data-ng-show="error" class="text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </fieldset>
                        <!--</form>-->
                    </div>
                </md-tab>
                <md-tab label="Billing Information">
                    <div class="container">
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label">Billing Address</label>
                            </div>

                            <div class="form-group">
                                <label class="control-label  col-sm-2" for="cellnumber"></label>

                                <div class="controls  col-sm-4">
                                    <input type="text" id="cellnumber1" class="form-control"
                                           placeholder="Street Address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label  col-sm-2" for="cellnumber"></label>

                                <div class="controls  col-sm-4 ">
                                    <input type="text" id="cellnumber2" class="form-control"
                                           placeholder="Town">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label  col-sm-2" for="cellnumber"></label>

                                <div class="controls  col-sm-4 ">
                                    <input type="text" id="cellnumbe3" class="form-control"
                                           placeholder="City">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Billing Frequency</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label  col-sm-2" for="cellnumber">Frequency</label>

                                <div class="controls  col-sm-4 ">
                                    <input type="text" id="cellnumbe4" class="form-control"
                                           placeholder="Billing frequency">
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </md-tab>
                <md-tab label="Users">
                    <h3> Users</h3>
                    <button class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> </button>
                    <table st-table="client.users" class="table table-striped top-buffer">
                        <thead>
                        <tr>
                            <th>User Id</th>
                            <th>First name</th>
                            <th>Surname</th>
                            <th>Roles</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in client.users ">
                            <td><span ng-click="openEditDevice('lg',device)">{{user.username}}</span></td>
                            <td><span ng-click="openEditDevice('lg',device)"> {{user.firstName}}</span></td>
                            <td> </td>
                            <td></td>

                        </tr>
                        </tbody>
                    </table>
                </md-tab>
                <md-tab label="devices">
                    <h1>
                        Devices </h1>

                    <div class="top-buffer" data-ng-controller="DevicesController as devCtrl">
                        <table st-table="client.devices" class="table table-striped top-buffer">
                            <thead>
                            <tr>
                                <th>Device ID</th>
                                <th>Name</th>
                                <!--<th>Email</th>-->

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="device in client.devices ">
                                <td><span ng-click="openEditDevice('lg',device)">{{device._id}}</span></td>
                                <td><span ng-click="openEditDevice('lg',device)"> {{device.name}}</span></td>
                                <!--<td>{{device.email}}</td>-->

                            </tr>
                            </tbody>
                        </table>
                    </div>

                </md-tab>
            </md-tabs>
        </form>
    </md-content>
</section>

