<section data-ng-controller="MyClientsController" data-ng-init="find()">
    <div flex layout="row" layout-align="start center" class="page-header bg-light-gray">
        <div flex layout="row">
            <div layout-align="start center" class="container">
                <div layout="row">
                    <h2 flex="66">My Clients</h2>

                    <div flex="33" layout="row" layout-margin layout-align="end center">
                        <input class="rounded" type="text" placeholder="Filter By" ng-model="query" autofocus>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="container">
        <div>

            <a href="/#!/myclients/create" class="btn btn-primary"> Add New </a>

        </div>
        <table st-table="clients" class="table table-striped top-buffer">
            <thead>
            <tr>
                <th>Client Name</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="client in clients | filter:query">
                <td> {{client.name}}</td>
                <td>{{client.fname}}</td>
                <td>{{client.sname}}</td>
                <td><a class="btn btn-primary" href="/#!/myclients/{{client._id}}/edit">Edit</a></td>
            </tr>
            </tbody>
        </table>
        <!--<div class="list-group">-->
        <!--<div class="col-xs-6 col-sm-3" data-ng-repeat="client in clients">-->
        <!--<a data-ng-href="#!/clients/{{client._id}}" class="list-group-item">    -->
        <!--<h4 class="cust-list text-center">-->
        <!--<i class="glyphicon glyphicon-user"></i></h4>-->
        <!--<div class="row">-->
        <!--<div class="col-xs-10 col-xs-offset-1">-->
        <!--<h4>{{client.name}}</h4>-->
        <!--<small class="list-group-item-text text-muted">-->
        <!--<span data-ng-bind="client.created | date:'medium'"></span>-->
        <!--</small>-->
        <!--</div>-->
        <!--</div>-->
        <!-- -->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--<highchart id="chart1" config="chartConfig"></highchart>-->
        <div class="alert alert-warning text-center" data-ng-hide="!clients.$resolved || clients.length">No Clients yet,
            why don't you
            <a href="/#!/clients/create">create one</a>?
        </div>

    </div>
</section>
