<section data-ng-controller="DevicesensoralarmactionsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Devicesensoralarmactions</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="devicesensoralarmaction in devicesensoralarmactions" data-ng-href="#!/devicesensoralarmactions/{{devicesensoralarmaction._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="devicesensoralarmaction.created | date:'medium'"></span>
				by
				<span data-ng-bind="devicesensoralarmaction.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="devicesensoralarmaction.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!devicesensoralarmactions.$resolved || devicesensoralarmactions.length">
    	No Devicesensoralarmactions yet, why don't you <a href="/#!/devicesensoralarmactions/create">create one</a>?
    </div>
</section>