<section data-ng-controller="DevicesensorsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Devicesensors</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="devicesensor in devicesensors" data-ng-href="#!/devicesensors/{{devicesensor._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="devicesensor.created | date:'medium'"></span>
				by
				<span data-ng-bind="devicesensor.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="devicesensor.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!devicesensors.$resolved || devicesensors.length">
    	No Devicesensors yet, why don't you <a href="/#!/devicesensors/create">create one</a>?
    </div>
</section>