<section data-ng-controller="GuardsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Guards</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="guard in guards" data-ng-href="#!/guards/{{guard._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="guard.created | date:'medium'"></span>
				by
				<span data-ng-bind="guard.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="guard.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!guards.$resolved || guards.length">
    	No Guards yet, why don't you <a href="/#!/guards/create">create one</a>?
    </div>
</section>